<!DOCTYPE html>
<html lang="cmn-Hans-CN">
<head>
    <meta charset="UTF-8">
    <title>Express创建服务例子</title>
    <style>
        
    </style>
</head>
<body>
    <header>
        <img src="/img/images.jpg" alt="哆啦A梦" title="哆啦A梦">
    </header>
    {{{body}}}
    <script>
        var a = { b: undefined };
            console.log(a.b !== undefined);
            console.log(a.c !== undefined);
            console.log('b' in a);
            console.log('c' in a);
    </script>
</body>
</html>