<!DOCTYPE html>
<html lang="cmn-Hans-CN">
<head>
    <meta charset="UTF-8">
    <title>Express创建服务例子</title>
</head>
<body>
    <header>
        <img src="/img/images.jpg" alt="哆啦A梦" title="哆啦A梦">
    </header>
    {{{body}}}
</body>
</html>